.divImage {
  width: 30rem;
  height: 20rem;
}

.imgVet {
  width: 100%;
  height: 100%;
  border-radius: $radius;
  box-shadow: none;
}
.imgVet:hover {
  box-shadow: none;
}
.photoGird {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1.5rem;
}
@media screen and (max-width: 1200px) {
  .divImage {
    width: 25rem;
    height: 40vh;
    margin: 0 auto;
  }
  .imgVet {
    width: 100%;
    height: 100%;
    border-radius: $radius;
  }
  .photoGird {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
