.banner {
  width: 100%;
  max-height: 250px;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  img {
    width: 100%;
    filter: brightness(45%);
  }

  h1 {
    position: absolute;
    color: $font-light;
  }
}
