.Error {
  color: rgb(255, 255, 255);
  font-weight: bolder;
  font-size: 5rem;
  text-align: center;
  margin: 2rem;
}
.divError {
  margin: 3rem;
  margin-left: auto;
  margin-right: auto;
  width: 30rem;
  box-shadow: black 2px 2px 2px 2px;
  background-color: hsla(0, 0%, 0%, 0.7);
}
