form.adopt-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $clr-primary-3;
    border-radius: $radius;
    padding: {
        top: 20px;
        bottom: 20px;
    }
    box-sizing: border-box;
    color: $font-light;
    margin: {
        top: 18px;
        bottom: 18px;
    }
    .form-title {
        font-size: 29px;
    }
    .question {
        display: block;
        min-width: 95%;
        box-sizing: border-box;
        padding: 10px;
        text-align: start;
        h1 {
            font-size: 20px;
            margin-bottom: 10px;
        }
        input {
            width: 100%;
            padding: 3px;
            border-bottom: 1px solid $clr-white;
            background-color: $clr-primary-3;
            color: $font-light;
            &:focus {
                outline: none;
            }
            &::placeholder {
                color: $clr-grey-8;
            }
        }
    }
}
