form.adopt-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $clr-white;
    border-radius: $radius;
    padding-top: 20px;
    box-sizing: border-box;
    border: 4px solid black;
    margin: {
        top: 15px;
        bottom: 15px;
    }
    h1 {
        font-size: 29px;
        margin-bottom: 20px;
    }
    .question {
        display: block;
        min-width: 95%;
        box-sizing: border-box;
        padding: 20px;
        border: 1.5px solid black;
        margin-bottom: 20px;
        text-align: start;
        h1 {
            font-size: 20px;
        }
        input {
            padding-bottom: 4px;
            border-bottom: 1px solid $clr-accent-1;
            &:focus {
                outline: none;
            }
        }
    }
}
