.infoCard {
  width: clamp(30%, 400px, 90%);
  min-height: 300px;
  margin: 1rem;
  border-radius: $radius;
  background-color: $clr-primary-2;
  box-shadow: inset $dark-shadow, $dark-shadow;
  h1 {
    color: white;
    font-weight: bold;
    margin: 0;
    margin-bottom: 1rem;
    padding: 1rem;
    border-bottom: 4px groove rgb(255, 255, 255);
    width: 20rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  p {
    text-align: center;
    color: white;
    font-size: 18px;
    width: clamp(27%, 405px, 90%);
    margin-inline: auto;
  }
}
@media screen and (max-width: 865px) {
  .infoCard {
    box-shadow: none;
    h1 {
      width: 15rem;
    }
    p {
      font-size: 16px;
    }
  }
}
@media screen and (max-width: 400px) {
  .infoCard {
    box-shadow: none;
    h1 {
      font-size: 1.3rem;
      width: 12rem;
    }
    p {
      font-size: 11px;
    }
  }
}

@media screen and (max-width: 230px) {
  .infoCard {
    box-shadow: none;
    h1 {
      font-size: 1rem;
      width: 7rem;
    }
    p {
      font-size: 11px;
    }
  }
}
