.skelCard {
  width: 100%;
  height: 38vh;
  margin: 0;
  border-radius: $radius;
  background: $clr-accent-3;
  background-size: 200% 200%;
  animation: load 1.2s linear;
}

@keyframes load {
  0% {
    background: $clr-white;
  }
  50% {
    background: $clr-accent-6;
  }
  100%{
    background: $clr-white;
  }
}
