@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  vertical-align: baseline;
}

main,
article,
aside,
figure,
footer,
header,
nav,
section,
details,
summary {
  display: block;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img,
object,
embed {
  max-width: 100%;
  height: auto;
}

html {
  overflow-y: auto;
}

ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before, blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted #222;
  cursor: help;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

input [type="radio"] {
  vertical-align: text-bottom;
}

input [type="checkbox"] {
  vertical-align: bottom;
}

.ie7 input [type="checkbox"] {
  vertical-align: baseline;
}

.ie6 input[type="checkbox"] {
  vertical-align: text-bottom;
}

select,
input,
textarea {
  font-size: 99%;
}

small {
  font-size: 99%;
}

strong {
  font-weight: bold;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.05em;
}

sub {
  bottom: -0.025em;
}

.clickable,
label,
input[type="button"],
input[type="submit"],
input[type="file"],
button {
  cursor: pointer;
}

button,
input[type="button"] {
  width: auto;
  overflow: hidden;
}

.ie7 img {
  -ms-interpolation-mode: bicubic;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/* dark shades of primary color*/
/* The primary/main color */
/* lighter shades of primary color */
/* dark shades of secondary color*/
/* secondary color */
/* lighter shades of secondary color */
/* dark shades of accent color*/
/* accent color */
/* lighter shades of accent color */
/* darkest grey - used for headings */
/* grey used for paragraphs */
/* lightest grey - used for outlines */
/* Other Colors used */
body {
  background: #b3b3b3;
  font-family: "Roboto", "sans-serif";
}

/* dark shades of primary color*/
/* The primary/main color */
/* lighter shades of primary color */
/* dark shades of secondary color*/
/* secondary color */
/* lighter shades of secondary color */
/* dark shades of accent color*/
/* accent color */
/* lighter shades of accent color */
/* darkest grey - used for headings */
/* grey used for paragraphs */
/* lightest grey - used for outlines */
/* Other Colors used */
.app {
  min-height: 100vh;
}

.cardContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.divImage {
  width: 32vw;
  height: 40vh;
}

.imgVet {
  width: 100%;
  height: 100%;
  -webkit-box-shadow: #444444 3px 3px 3px 3px;
          box-shadow: #444444 3px 3px 3px 3px;
  border-radius: 30px;
}

.imgVet:hover {
  -webkit-box-shadow: #494949 4px 4px 4px 4px;
          box-shadow: #494949 4px 4px 4px 4px;
}

.photoGird {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 1.5rem;
}

@media screen and (max-width: 864px) {
  .divImage {
    width: 50vw;
    height: 40vh;
    margin: 0 auto;
  }
  .imgVet {
    width: 100%;
    height: 100%;
    -webkit-box-shadow: #494949 3px 3px 3px 3px;
            box-shadow: #494949 3px 3px 3px 3px;
    border-radius: 30px;
  }
  .photoGird {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.adopt {
  width: 90%;
  margin: auto;
  text-align: center;
}

.petContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.petContainer .petDescription {
  margin-inline: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.petContainer .petDescription .name {
  margin: 0.5rem auto;
}

.petContainer .petDescription .list {
  list-style-type: circle;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-inline: auto;
}

@media screen and (max-width: 1024px) {
  .petContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .petContainer .slideContainer {
    margin-inline: auto;
  }
  .petContainer .buttonContainer {
    margin-inline: auto;
  }
  .petContainer .petDescription {
    width: clamp(30vw, 600px, 90%);
    margin-inline: auto;
    margin-bottom: 2rem;
  }
}

.banner {
  width: 100%;
  max-height: 250px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.banner img {
  width: 100%;
  -webkit-filter: brightness(45%);
          filter: brightness(45%);
}

.banner h1 {
  position: absolute;
  color: white;
}

.card {
  width: clamp(30%, 400px, 90%);
  margin: 1rem;
  background-color: white;
  margin-inline: auto;
  border-radius: 0.75rem;
  overflow: hidden;
  -webkit-box-shadow: inset 0 0px 15px rgba(0, 0, 0, 0.8);
          box-shadow: inset 0 0px 15px rgba(0, 0, 0, 0.8);
  position: relative;
}

.card .imgContainer {
  -webkit-box-shadow: 0 0px 15px rgba(0, 0, 0, 0.8);
          box-shadow: 0 0px 15px rgba(0, 0, 0, 0.8);
}

.card .imgContainer img {
  display: block;
}

.card .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  inset: 0;
  color: #fff;
}

.card .content h2 {
  text-align: center;
  padding: 0.25rem;
  background-color: rgba(0, 0, 0, 0.5);
}

.card .content p {
  width: clamp(27%, 405px, 90%);
  font-size: 14px;
  margin-inline: auto;
  margin-top: auto;
  text-align: center;
  visibility: hidden;
}

.card .btnContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card .btnContainer a {
  background: #5c99d6;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 0.25rem;
  border: none;
  padding: 0.25rem 1.25rem;
  font-size: 0.9rem;
  margin: 1rem;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
}

.card .btnContainer a:hover {
  background-color: #3b85ce;
}

.card.empty {
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  visibility: hidden;
}

@media screen and (min-width: 768px) {
  .card .content {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    margin-top: auto;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    -webkit-transition: -webkit-transform 300ms ease;
    transition: -webkit-transform 300ms ease;
    transition: transform 300ms ease;
    transition: transform 300ms ease, -webkit-transform 300ms ease;
  }
  .card .content h2,
  .card .content p,
  .card .content .btnContainer {
    opacity: 0;
    -webkit-transition: opacity 200ms linear;
    transition: opacity 200ms linear;
  }
  .card .content h2 {
    background-color: transparent;
  }
  .card .content a {
    padding: 0.5rem 2.5rem;
    font-size: 1rem;
  }
  .card .content p {
    margin-top: 0;
    visibility: visible;
  }
  .card:hover .content, .card:focus-within .content {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .card:hover .content h2,
  .card:hover .content p,
  .card:hover .content .btnContainer, .card:focus-within .content h2,
  .card:focus-within .content p,
  .card:focus-within .content .btnContainer {
    opacity: 1;
  }
}

footer {
  color: white;
  background-color: #2e73b8;
  margin-top: auto;
}

footer .row {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .row.top {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: black;
  padding-top: 1rem;
}

footer .row.top .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 30vw;
  width: 100%;
  text-align: left;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .row.top .col ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

footer .row.top .col ul li {
  padding: 0.1rem;
}

footer .row.top .col ul li.title {
  color: black;
  font-size: 110%;
  font-weight: bold;
  padding: 0.5rem;
}

footer .row.top .col ul li a {
  color: #fff;
  text-decoration: none;
}

footer .row.top .col ul li a:active {
  color: #265e97;
}

footer .row.top .col.desc {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .row.top .col.desc h3 {
  margin: 0;
  padding: 0.5rem;
  font-weight: bold;
  color: black;
}

footer .row.top .col.desc p {
  margin: 0;
  color: white;
}

footer .row .socials ul {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  font-size: 200%;
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .row .socials ul li {
  padding-inline: 1rem;
}

footer .row .socials ul li a {
  color: black;
}

footer .row .socials ul li a:active {
  color: #265e97;
}

.infoCard {
  width: clamp(30%, 400px, 90%);
  min-height: 300px;
  margin: 1rem;
  border-radius: 0.75rem;
  background-color: #2e73b8;
  -webkit-box-shadow: inset 0 0px 15px rgba(0, 0, 0, 0.8), 0 0px 15px rgba(0, 0, 0, 0.8);
          box-shadow: inset 0 0px 15px rgba(0, 0, 0, 0.8), 0 0px 15px rgba(0, 0, 0, 0.8);
}

.infoCard h1 {
  color: white;
  font-weight: bold;
  margin: 0;
  margin-bottom: 1rem;
  padding: 1rem;
  border-bottom: 4px groove white;
  width: 20rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.infoCard p {
  text-align: center;
  color: white;
  font-size: 18px;
  width: clamp(27%, 405px, 90%);
  margin-inline: auto;
}

.navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: #2e73b8;
  color: white;
}

.navBar div {
  margin: auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navBar div svg {
  display: none;
  visibility: hidden;
}

.navBar li {
  padding: 0 1.75rem;
}

.navBar .btn {
  padding: 0;
}

.navBar .btn a {
  display: block;
  padding: 1rem 1.75rem;
  color: white;
  text-decoration: none;
}

.navBar .btn:hover:not(.title) {
  background-color: white;
}

.navBar .btn:hover:not(.title) a {
  color: black;
}

@media screen and (max-width: 580px) {
  .navBar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navBar div {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .navBar div li {
    padding: 1rem;
  }
  .navBar div svg {
    display: block;
    visibility: visible;
    font-size: 2rem;
    margin: auto 1rem;
    cursor: pointer;
  }
  .navBar div svg path {
    stroke: white;
  }
  .navBar .btnContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navBar .btnContainer.closed {
    height: 0;
    overflow: hidden;
  }
}

.slideContainer {
  width: clamp(30vw, 600px, 90vw);
  height: 350px;
  overflow: hidden;
  border-radius: 0.5rem;
  margin: 0 2rem;
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: relative;
}

.slideContainer img {
  width: 100%;
  min-height: 100%;
  display: block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -o-object-fit: cover;
     object-fit: cover;
}

.slideContainer .iconContainer {
  position: absolute;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 3rem;
  color: #fff;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.slideContainer .iconContainer svg {
  cursor: pointer;
}

.slideContainer .iconContainer.left {
  left: 0;
}

.slideContainer .iconContainer.right {
  right: 0;
}

.buttonContainer {
  width: clamp(30vw, 600px, 90vw);
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: 0 2rem;
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #b3b3b3;
}

.buttonContainer button {
  width: 100%;
  height: 0.75rem;
  margin: 0.25rem;
  opacity: 0.5;
  border-radius: 0.25rem;
}

.buttonContainer button.selected {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

form.adopt-form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #3b85ce;
  border-radius: 0.75rem;
  padding-top: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 4px solid #fff;
  color: #fff;
  -webkit-box-shadow: 0 0px 15px rgba(0, 0, 0, 0.8), inset 0 0px 15px rgba(0, 0, 0, 0.8);
          box-shadow: 0 0px 15px rgba(0, 0, 0, 0.8), inset 0 0px 15px rgba(0, 0, 0, 0.8);
  margin-top: 15px;
  margin-bottom: 15px;
}

form.adopt-form h1 {
  font-size: 29px;
  margin-bottom: 20px;
}

form.adopt-form .question {
  display: block;
  min-width: 95%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
  border: 1.5px solid #fff;
  margin-bottom: 20px;
  text-align: start;
}

form.adopt-form .question h1 {
  font-size: 20px;
}

form.adopt-form .question input {
  width: 100%;
  padding-bottom: 4px;
  border-bottom: 1px solid #fff;
  background-color: #5c99d6;
  color: #fff;
}

form.adopt-form .question input:focus {
  outline: none;
}

form.adopt-form .question input::-webkit-input-placeholder {
  color: #f2f2f2;
}

form.adopt-form .question input:-ms-input-placeholder {
  color: #f2f2f2;
}

form.adopt-form .question input::-ms-input-placeholder {
  color: #f2f2f2;
}

form.adopt-form .question input::placeholder {
  color: #f2f2f2;
}

#body {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 3rem;
}

.progress {
  background: rgba(235, 235, 235, 0.9);
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-radius: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  width: 500px;
  margin: 1rem;
}

.progress-value {
  -webkit-animation: load 2s normal forwards;
          animation: load 2s normal forwards;
  -webkit-box-shadow: 0 10px 40px 0px black;
          box-shadow: 0 10px 40px 0px black;
  border-radius: 100px;
  background: #3b85ce;
  height: 30px;
  width: 0;
}

.loadhead {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  color: white;
}

@-webkit-keyframes load {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes load {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.Error {
  color: white;
  font-weight: bolder;
  font-size: 5rem;
  text-align: center;
  margin: 2rem;
}

.divError {
  margin: 3rem;
  margin-left: auto;
  margin-right: auto;
  width: 30rem;
  -webkit-box-shadow: black 2px 2px 2px 2px;
          box-shadow: black 2px 2px 2px 2px;
  background-color: rgba(0, 0, 0, 0.7);
}
/*# sourceMappingURL=index.css.map */